<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
	<h1>[ Ajax ]</h1>
	
	<ul>
		<li><a th:href="@{/ajax1}">Ajax 테스트 1</a></li>
	</ul>
	
	<!-- 
		Ajax(Asynchronous JavaScript and XML)
		 - 웹 페이지를 전체 새로고침하지 않고도 서버와 데이터를 주고 받을 수 있는 기술
		 - 비동기 방식으로 작동하여 사용자에게 부드럽고 빠른 UX 제공
		 - Ajax의 동작 흐름
		 		사용자가 버튼 클릭 등 이벤트 발생
		 		JS가 XMLHttpRequest를 사용해 서버에 비동기 요청
		 		서버가 요청을 처리하고 응답 데이터를 반환(Text, JSON..)
		 		JS가 받은 데이터를 HTML에 반영
	 -->
</body>
</html>