<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<script th:src="@{/js/js.js}"></script>
</head>
<body>
	<div th:replace="~{layout/header :: header}"></div>
	
	<h1>회원가입</h1>
	
	<form action="memberJoin" method="post" onSubmit="validateLoginForm(event)">
		아이디<input type="text" name="id" required>	<br>
		비밀번호<input type="text" name="pw" required>	<br>
		비밀번호 확인<input type="text" name="pwcheck" required>	<br>
		이름<input type="text" name="name" required>	<br>
		핸드폰<input type="text" name="phone" required>	<br>
		<input type="submit" value="가입">
	</form>
</body>
</html>