<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/ex1/css/menu.css">
<style>
         body {
            text-align: center;
         }
         
         img{
            width: 300px;
            height: 300px;
            margin: 0px 15px;
            border-radius: 50%;
         }
      </style>
</head>
<body>
 <!-- 상단 메뉴 -->
    <header>
        <a href="/ex1">홈</a>
        <a href="introduce">소개</a>
        <a href="notice">공지</a>
        <a href="inquiry">문의</a>
    </header>
    
    <!-- 본문 내용 -->
    <main>
        <h1>소개</h1>
        <img src="image/aaa.jpg">
        <p><b>이름</b>:강아지</p>
        <p><b>주소</b>:오렌지 선셋</p>
        <p><b>특징</b>:부드러움</p>
    </main>
</body>
</html>