<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>게시글 읽기</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

	<header>
		<h1>[ 게시글 읽기 ]</h1>
	</header>
	<section>
		<table>
			<tr>
				<th>작성자</th>
				<td th:text="|${board.memberId} (이름:${board.memberName})|"></td>
			</tr>
			<tr>
				<th>작성일</th>
				<td th:text="${#temporals.format(board.createDate, 'yy.MM.dd HH:mm')}"></td>
			</tr>
			<tr>
				<th>수정일</th>
				<td th:text="${board.updateDate != null ? board.updateDate : '변경 안됨'}"></td>
			</tr>
			<tr>
				<th>조회수</th>
				<td th:text="${board.viewCount}"></td>
			</tr>
			<tr>
				<th>추천수</th>
				<td th:text="${board.likeCount}"></td>
			</tr>
			<tr>
				<th>제목</th>
				<td th:text="${board.title}"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td th:text="${board.contents}"></td>
			</tr>
			<tr>
				<th>파일첨부</th>
				<td th:text="${board.originalName}"></td>
			</tr>
		</table>
	</section>

</body>
</html>